
.seccion-primera-contacto {
    display: inline-block;
    width: 350px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.seccion-primera-contacto p {
    color: #071013;
    font-family: 'Roboto';
    font-size: 1.6rem;
    width: 270px;
    margin: 5px;
    padding: 5px;
    text-align: justify;
}

.seccion-primera-contacto label {
    font-size: 1.6rem;
    text-align: justify;
    color: #071013;
    font-family: 'Roboto';
    margin: 0.5rem;
}

.titulo-contacto {
    font-family: 'Ubuntu';
    font-size: 2.4rem;
    text-align: center;
    color: #071013;
}

.ingresar-texto label {
    text-align: left;
}

.boton-enviar {
    margin-left: 17.5rem;
}
